.back-blue {
	background:#64BBF2
}
.back-purple {
	background: #CD5582;
}
.back-yellow {
	background: #EBC84D;
}
.back-red {
	background: #D25858;
}
.back-green {
	background: #89C257;
}
.back-orange {
	background: #E08954;
}
.f-blue {
	color: #3295D9;
}