
.an-toolbar {


  ul {
    li {
      display: inline-block;
    }
  }

  > div:first-of-type {
    //background: darkcyan;
    position: relative;

    ul > li:last-of-type {
      border-right: none;
    }

    li {
      //background: #ededed;

      margin: .2em 0;
      border-right: 1px solid black;
      line-height: 2em;

      > i {
        margin: 0 .6em;
        padding-top: .15em;
        font-size: 1.5em;
      }

      select {
        background: #ededed;
        margin: 0 .8em;
        width: 6em;
      }
    }

    > div {
      position: absolute;
      right: 0%;
      //bottom: 0;
      box-sizing: border-box;
      border:1px solid black;
      width: 20%;

      padding-top:.3em;
      padding-bottom:1em;

      ul {
        li {
          border: none;
        }
      }

      //bottom:0;
      > div:nth-of-type(1n+2) {
        margin: 0  .5em;
      }

      > div:nth-of-type(1) {
        //background: #9E9E9E;
        text-align: center;

        position: absolute;
        width: 40%;
        display: block;
        height: 2em;
        top: -2em;
        right: -1px;
        border:1px solid black;
        border-bottom: none;
        box-sizing: border-box;

        > h6 {
          display: inline-block;
          //background: #9dd8c8;
          //width: 40%;
          line-height: 2em;
          text-align: center;

        }
      }

      > div:nth-of-type(2) {
        ul {
          display: inline-block;
          text-align: center;
          width: 100%;

          li {
            vertical-align: center;
            //background: #9dd8c8;
            width: 33.3%;
            box-sizing: border-box;
            display: inline-block;
            height: 3em;
            //border: 1px solid red;
            text-align: center;

            div {
              display: inline-block;
              text-align: center;
              line-height: 2em;
              height: 100%;
              width: 90%;
              margin: 0 0;
              border: .5px solid black;
            }
          }

          &> li:nth-of-type(1){
            text-align: left;
          }
          &> li:nth-of-type(2){

          }
          &> li:nth-of-type(3){
            text-align: right;
          }
        }
      }

      > div:nth-of-type(3) {
        margin-top:1em;
        ul {
          li {
            display: block;
            margin:0 0;
            padding:0;
            line-height: 1.5em;
          }
        }

      }
    }
  }


  > div:last-of-type {
    background: white;
    width: 100%;

    > div {
      //line-height: 1.5em;
      box-sizing: border-box;
      border: 1px solid #ededed;

      ul {
        display: inline-block;
        padding: .2em 0;

        li {
          line-height: initial;
          display: inline-block;
          padding: 0 .2em;
          vertical-align: center;
        }
      }


      > * {
        box-sizing: border-box;

        line-height: 1.5em;
      }


      > h6 {
        border-right: 1.2px solid #ededed;
        width: 8em;
        box-sizing: border-box;
        text-indent: .5em;
        line-height: 2em;

        span {
          padding-left: .5em;
        }
      }


    }


    li {

      p {
        box-sizing: border-box;
        border-radius: 1em;
        width: 135px;
        color: white;
        text-indent: .7em;

        &:hover {
          border: 0.5px solid #535353;
        }
      }

      i {
        //兼容 小图标;
        display: none;
      }
    }

    > div:first-of-type {
      li {
        p {
          background-color: #577b94;
        }
      }
    }

    > div:last-of-type {
      li {
        p {
          background-color: #00b180;
        }
      }
    }

  }

}
